/* Text elements reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* Form elements reset */
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Layout elements reset */
div,
section,
article,
aside,
header,
footer,
nav,
main {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
