.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  gap: 24px;
  border-radius: 12px;
  box-shadow: 0 0 12px 12px var(--color-background-secondary);
  background-color: var(--color-background-secondary);
}
